@model CaseTracker.Models.Case

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vslName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vslName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vslOffNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vslOffNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
