@model IEnumerable<CaseTracker.Models.Case>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vslName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vslOffNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vslName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vslOffNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
